# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
cmake-build-debug
cmake-build-release
.idea
/libraries/openssl/
/libraries/freerdp/
/libraries/yaml-cpp/
/libraries/boost/
!/libraries/openssl/LICENSE.txt
!/libraries/yaml-cpp/LICENSE
!/libraries/freerdp/LICENSE
!/libraries/boost/LICENSE_1_0.txt