# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
cmake-build-debug
.idea
/libraries/openssl/crypto/__DECC_INCLUDE_EPILOGUE.H
/libraries/openssl/internal/__DECC_INCLUDE_EPILOGUE.H
/libraries/openssl/openssl/__DECC_INCLUDE_EPILOGUE.H
/libraries/openssl/crypto/__DECC_INCLUDE_PROLOGUE.H
/libraries/openssl/internal/__DECC_INCLUDE_PROLOGUE.H
/libraries/openssl/openssl/__DECC_INCLUDE_PROLOGUE.H
/libraries/freerdp/utils/aad.h
/libraries/freerdp/addin.h
/libraries/openssl/openssl/aes.h
/libraries/openssl/crypto/aes_platform.h
/libraries/freerdp/channels/ainput.h
/libraries/freerdp/client/ainput.h
/libraries/freerdp/server/ainput.h
/libraries/freerdp/altsec.h
/libraries/yaml-cpp/anchor.h
/libraries/yaml-cpp/contrib/anchordict.h
/libraries/freerdp/api.h
/libraries/openssl/crypto/aria.h
/libraries/openssl/crypto/asn1.h
/libraries/openssl/internal/asn1.h
/libraries/openssl/openssl/asn1.h.in
/libraries/openssl/crypto/asn1_dsa.h
/libraries/openssl/openssl/asn1_mac.h
/libraries/openssl/crypto/asn1err.h
/libraries/openssl/openssl/asn1err.h
/libraries/openssl/openssl/asn1t.h.in
/libraries/freerdp/assistance.h
/libraries/openssl/crypto/async.h
/libraries/openssl/openssl/async.h
/libraries/openssl/crypto/asyncerr.h
/libraries/openssl/openssl/asyncerr.h
/libraries/freerdp/channels/audin.h
/libraries/freerdp/client/audin.h
/libraries/freerdp/server/audin.h
/libraries/freerdp/codec/audio.h
/libraries/freerdp/autodetect.h
/libraries/freerdp/crypto/ber.h
/libraries/yaml-cpp/binary.h
/libraries/openssl/internal/bio.h
/libraries/openssl/openssl/bio.h.in
/libraries/openssl/internal/bio_addr.h
/libraries/openssl/internal/bio_tfo.h
/libraries/openssl/crypto/bioerr.h
/libraries/openssl/openssl/bioerr.h
/libraries/freerdp/codec/bitmap.h
/libraries/freerdp/gdi/bitmap.h
/libraries/openssl/openssl/blowfish.h
/libraries/openssl/crypto/bn.h
/libraries/openssl/openssl/bn.h
/libraries/openssl/crypto/bn_conf.h.in
/libraries/openssl/crypto/bn_dh.h
/libraries/openssl/crypto/bn_srp.h
/libraries/openssl/crypto/bnerr.h
/libraries/openssl/openssl/bnerr.h
/libraries/openssl/openssl/buffer.h
/libraries/openssl/crypto/buffererr.h
/libraries/openssl/openssl/buffererr.h
/libraries/freerdp/codec/bulk.h
/libraries/openssl/openssl/camellia.h
/libraries/openssl/openssl/cast.h
/libraries/freerdp/crypto/certificate.h
/libraries/freerdp/crypto/certificate_data.h
/libraries/freerdp/crypto/certificate_store.h
/libraries/openssl/crypto/chacha.h
/libraries/freerdp/channels/channels.h
/libraries/freerdp/client/channels.h
/libraries/freerdp/server/channels.h
/libraries/freerdp/codec/clear.h
/libraries/freerdp/client.h
/libraries/freerdp/client/client_cliprdr_file.h
/libraries/freerdp/channels/cliprdr.h
/libraries/freerdp/client/cliprdr.h
/libraries/freerdp/server/cliprdr.h
/libraries/freerdp/utils/cliprdr_utils.h
/libraries/openssl/openssl/cmac.h
/libraries/freerdp/client/cmdline.h
/libraries/openssl/crypto/cmll_platform.h
/libraries/openssl/openssl/cmp.h.in
/libraries/openssl/openssl/cmp_util.h
/libraries/openssl/crypto/cmperr.h
/libraries/openssl/openssl/cmperr.h
/libraries/openssl/openssl/cms.h.in
/libraries/openssl/crypto/cmserr.h
/libraries/openssl/openssl/cmserr.h
/libraries/freerdp/codecs.h
/libraries/freerdp/codec/color.h
/libraries/openssl/internal/common.h
/libraries/openssl/internal/comp.h
/libraries/openssl/openssl/comp.h
/libraries/openssl/crypto/comperr.h
/libraries/openssl/openssl/comperr.h
/libraries/openssl/internal/conf.h
/libraries/openssl/openssl/conf.h.in
/libraries/openssl/openssl/conf_api.h
/libraries/openssl/crypto/conferr.h
/libraries/openssl/openssl/conferr.h
/libraries/openssl/openssl/configuration.h.in
/libraries/openssl/openssl/conftypes.h
/libraries/openssl/internal/constant_time.h
/libraries/freerdp/constants.h
/libraries/openssl/crypto/context.h
/libraries/yaml-cpp/node/convert.h
/libraries/openssl/internal/core.h
/libraries/openssl/openssl/core.h
/libraries/openssl/openssl/core_dispatch.h
/libraries/openssl/openssl/core_names.h.in
/libraries/openssl/openssl/core_object.h
/libraries/openssl/openssl/crmf.h.in
/libraries/openssl/crypto/crmferr.h
/libraries/openssl/openssl/crmferr.h
/libraries/openssl/crypto/cryptlib.h
/libraries/openssl/internal/cryptlib.h
/libraries/freerdp/crypto/crypto.h
/libraries/openssl/openssl/crypto.h.in
/libraries/openssl/crypto/cryptoerr.h
/libraries/openssl/openssl/cryptoerr.h
/libraries/openssl/openssl/cryptoerr_legacy.h
/libraries/openssl/openssl/ct.h.in
/libraries/openssl/crypto/cterr.h
/libraries/openssl/openssl/cterr.h
/libraries/openssl/crypto/ctype.h
/libraries/openssl/internal/dane.h
/libraries/freerdp/gdi/dc.h
/libraries/openssl/crypto/decoder.h
/libraries/openssl/openssl/decoder.h
/libraries/openssl/crypto/decodererr.h
/libraries/openssl/openssl/decodererr.h
/libraries/openssl/internal/deprecated.h
/libraries/yaml-cpp/depthguard.h
/libraries/freerdp/crypto/der.h
/libraries/openssl/internal/der.h
/libraries/openssl/openssl/des.h
/libraries/openssl/crypto/des_platform.h
/libraries/openssl/internal/deterministic_nonce.h
/libraries/openssl/crypto/dh.h
/libraries/openssl/openssl/dh.h
/libraries/openssl/crypto/dherr.h
/libraries/openssl/openssl/dherr.h
/libraries/freerdp/channels/disp.h
/libraries/freerdp/client/disp.h
/libraries/freerdp/server/disp.h
/libraries/freerdp/display.h
/libraries/yaml-cpp/dll.h
/libraries/freerdp/channels/drdynvc.h
/libraries/freerdp/client/drdynvc.h
/libraries/freerdp/server/drdynvc.h
/libraries/freerdp/utils/drdynvc.h
/libraries/openssl/crypto/dsa.h
/libraries/openssl/openssl/dsa.h
/libraries/openssl/crypto/dsaerr.h
/libraries/openssl/openssl/dsaerr.h
/libraries/openssl/internal/dso.h
/libraries/openssl/crypto/dso_conf.h.in
/libraries/openssl/internal/dsoerr.h
/libraries/freerdp/codec/dsp.h
/libraries/openssl/openssl/dtls1.h
/libraries/freerdp/dvc.h
/libraries/openssl/internal/e_os.h
/libraries/openssl/openssl/e_os2.h
/libraries/openssl/openssl/e_ostime.h
/libraries/openssl/openssl/ebcdic.h
/libraries/openssl/crypto/ec.h
/libraries/openssl/openssl/ec.h
/libraries/openssl/openssl/ecdh.h
/libraries/openssl/openssl/ecdsa.h
/libraries/openssl/crypto/ecerr.h
/libraries/openssl/openssl/ecerr.h
/libraries/freerdp/channels/echo.h
/libraries/freerdp/server/echo.h
/libraries/openssl/crypto/ecx.h
/libraries/yaml-cpp/node/emit.h
/libraries/yaml-cpp/emitfromevents.h
/libraries/yaml-cpp/emitter.h
/libraries/yaml-cpp/emitterdef.h
/libraries/yaml-cpp/emittermanip.h
/libraries/yaml-cpp/emitterstyle.h
/libraries/freerdp/utils/encoded_types.h
/libraries/openssl/crypto/encoder.h
/libraries/openssl/openssl/encoder.h
/libraries/openssl/crypto/encodererr.h
/libraries/openssl/openssl/encodererr.h
/libraries/freerdp/channels/encomsp.h
/libraries/freerdp/client/encomsp.h
/libraries/freerdp/server/encomsp.h
/libraries/openssl/internal/endian.h
/libraries/openssl/crypto/engine.h
/libraries/openssl/openssl/engine.h
/libraries/openssl/crypto/engineerr.h
/libraries/openssl/openssl/engineerr.h
/libraries/freerdp/crypto/er.h
/libraries/openssl/crypto/err.h
/libraries/openssl/internal/err.h
/libraries/openssl/openssl/err.h.in
/libraries/freerdp/error.h
/libraries/openssl/crypto/ess.h
/libraries/openssl/openssl/ess.h.in
/libraries/openssl/crypto/esserr.h
/libraries/openssl/openssl/esserr.h
/libraries/freerdp/event.h
/libraries/openssl/internal/event_queue.h
/libraries/yaml-cpp/eventhandler.h
/libraries/openssl/crypto/evp.h
/libraries/openssl/openssl/evp.h
/libraries/openssl/crypto/evperr.h
/libraries/openssl/openssl/evperr.h
/libraries/yaml-cpp/exceptions.h
/libraries/freerdp/extension.h
/libraries/openssl/internal/ffc.h
/libraries/freerdp/client/file.h
/libraries/openssl/openssl/fips_names.h
/libraries/openssl/openssl/fipskey.h.in
/libraries/freerdp/freerdp.h
/libraries/freerdp/gdi/gdi.h
/libraries/freerdp/channels/geometry.h
/libraries/freerdp/client/geometry.h
/libraries/freerdp/gdi/gfx.h
/libraries/freerdp/utils/gfx.h
/libraries/freerdp/channels/gfxredir.h
/libraries/freerdp/server/gfxredir.h
/libraries/yaml-cpp/contrib/graphbuilder.h
/libraries/freerdp/graphics.h
/libraries/freerdp/codec/h264.h
/libraries/freerdp/heartbeat.h
/libraries/openssl/openssl/hmac.h
/libraries/openssl/openssl/hpke.h
/libraries/openssl/internal/hpke_util.h
/libraries/freerdp/utils/http.h
/libraries/openssl/openssl/http.h
/libraries/openssl/crypto/httperr.h
/libraries/openssl/openssl/httperr.h
/libraries/openssl/openssl/idea.h
/libraries/yaml-cpp/node/detail/impl.h
/libraries/yaml-cpp/node/impl.h
/libraries/freerdp/input.h
/libraries/freerdp/codec/interleaved.h
/libraries/yaml-cpp/node/detail/iterator.h
/libraries/yaml-cpp/node/iterator.h
/libraries/yaml-cpp/node/detail/iterator_fwd.h
/libraries/freerdp/codec/jpeg.h
/libraries/openssl/openssl/kdf.h
/libraries/openssl/openssl/kdferr.h
/libraries/freerdp/locale/keyboard.h
/libraries/openssl/internal/ktls.h
/libraries/openssl/crypto/lhash.h
/libraries/openssl/openssl/lhash.h.in
/libraries/freerdp/license.h
/libraries/openssl/internal/list.h
/libraries/freerdp/listener.h
/libraries/freerdp/locale/locale.h
/libraries/freerdp/channels/location.h
/libraries/freerdp/server/location.h
/libraries/freerdp/channels/log.h
/libraries/freerdp/log.h
/libraries/openssl/openssl/macros.h
/libraries/yaml-cpp/mark.h
/libraries/openssl/openssl/md2.h
/libraries/openssl/openssl/md4.h
/libraries/openssl/openssl/md5.h
/libraries/openssl/crypto/md32_common.h
/libraries/openssl/openssl/mdc2.h
/libraries/yaml-cpp/node/detail/memory.h
/libraries/freerdp/message.h
/libraries/freerdp/metrics.h
/libraries/openssl/crypto/modes.h
/libraries/openssl/openssl/modes.h
/libraries/openssl/internal/namemap.h
/libraries/openssl/internal/nelem.h
/libraries/yaml-cpp/node/detail/node.h
/libraries/yaml-cpp/node/node.h
/libraries/yaml-cpp/node/detail/node_data.h
/libraries/yaml-cpp/node/detail/node_iterator.h
/libraries/yaml-cpp/node/detail/node_ref.h
/libraries/yaml-cpp/noexcept.h
/libraries/freerdp/codec/nsc.h
/libraries/yaml-cpp/null.h
/libraries/openssl/internal/numbers.h
/libraries/openssl/internal/o_dir.h
/libraries/openssl/openssl/obj_mac.h
/libraries/openssl/crypto/objects.h
/libraries/openssl/openssl/objects.h
/libraries/openssl/crypto/objectserr.h
/libraries/openssl/openssl/objectserr.h
/libraries/openssl/openssl/ocsp.h.in
/libraries/openssl/crypto/ocsperr.h
/libraries/openssl/openssl/ocsperr.h
/libraries/openssl/openssl/opensslconf.h
/libraries/openssl/openssl/opensslv.h.in
/libraries/openssl/openssl/ossl_typ.h
/libraries/yaml-cpp/ostream_wrapper.h
/libraries/openssl/internal/packet.h
/libraries/openssl/internal/packet_quic.h
/libraries/openssl/openssl/param_build.h
/libraries/openssl/internal/param_build_set.h
/libraries/openssl/internal/param_names.h.in
/libraries/openssl/internal/params.h
/libraries/openssl/openssl/params.h
/libraries/yaml-cpp/node/parse.h
/libraries/yaml-cpp/parser.h
/libraries/freerdp/utils/passphrase.h
/libraries/openssl/internal/passphrase.h
/libraries/freerdp/utils/pcap.h
/libraries/freerdp/peer.h
/libraries/openssl/crypto/pem.h
/libraries/openssl/openssl/pem.h
/libraries/openssl/openssl/pem2.h
/libraries/openssl/crypto/pemerr.h
/libraries/openssl/openssl/pemerr.h
/libraries/freerdp/gdi/pen.h
/libraries/freerdp/crypto/per.h
/libraries/freerdp/cache/persistent.h
/libraries/openssl/crypto/pkcs7.h
/libraries/openssl/openssl/pkcs7.h.in
/libraries/openssl/crypto/pkcs7err.h
/libraries/openssl/openssl/pkcs7err.h
/libraries/openssl/openssl/pkcs12.h.in
/libraries/openssl/crypto/pkcs12err.h
/libraries/openssl/openssl/pkcs12err.h
/libraries/freerdp/codec/planar.h
/libraries/freerdp/utils/pod_arrays.h
/libraries/freerdp/pointer.h
/libraries/openssl/crypto/poly1305.h
/libraries/openssl/crypto/ppc_arch.h
/libraries/freerdp/primary.h
/libraries/freerdp/primitives.h
/libraries/freerdp/client/printer.h
/libraries/openssl/internal/priority_queue.h
/libraries/freerdp/crypto/privatekey.h
/libraries/freerdp/utils/profiler.h
/libraries/freerdp/codec/progressive.h
/libraries/openssl/internal/property.h
/libraries/openssl/internal/propertyerr.h
/libraries/openssl/openssl/prov_ssl.h
/libraries/openssl/openssl/proverr.h
/libraries/openssl/internal/provider.h
/libraries/openssl/openssl/provider.h
/libraries/freerdp/server/proxy/proxy_config.h
/libraries/freerdp/server/proxy/proxy_context.h
/libraries/freerdp/server/proxy/proxy_log.h
/libraries/freerdp/server/proxy/proxy_modules_api.h
/libraries/freerdp/server/proxy/proxy_server.h
/libraries/freerdp/server/proxy/proxy_types.h
/libraries/freerdp/utils/proxy_utils.h
/libraries/yaml-cpp/node/ptr.h
/libraries/openssl/crypto/punycode.h
/libraries/openssl/openssl/quic.h
/libraries/openssl/internal/quic_ackm.h
/libraries/openssl/internal/quic_cc.h
/libraries/openssl/internal/quic_cfq.h
/libraries/openssl/internal/quic_channel.h
/libraries/openssl/internal/quic_demux.h
/libraries/openssl/internal/quic_error.h
/libraries/openssl/internal/quic_fc.h
/libraries/openssl/internal/quic_fifd.h
/libraries/openssl/internal/quic_reactor.h
/libraries/openssl/internal/quic_record_rx.h
/libraries/openssl/internal/quic_record_tx.h
/libraries/openssl/internal/quic_record_util.h
/libraries/openssl/internal/quic_rx_depack.h
/libraries/openssl/internal/quic_sf_list.h
/libraries/openssl/internal/quic_ssl.h
/libraries/openssl/internal/quic_statm.h
/libraries/openssl/internal/quic_stream.h
/libraries/openssl/internal/quic_stream_map.h
/libraries/openssl/internal/quic_thread_assist.h
/libraries/openssl/internal/quic_tls.h
/libraries/openssl/internal/quic_tserver.h
/libraries/openssl/internal/quic_txp.h
/libraries/openssl/internal/quic_txpim.h
/libraries/openssl/internal/quic_types.h
/libraries/openssl/internal/quic_vlint.h
/libraries/openssl/internal/quic_wire.h
/libraries/openssl/internal/quic_wire_pkt.h
/libraries/freerdp/channels/rail.h
/libraries/freerdp/client/rail.h
/libraries/freerdp/server/rail.h
/libraries/freerdp/rail.h
/libraries/openssl/crypto/rand.h
/libraries/openssl/openssl/rand.h
/libraries/openssl/crypto/rand_pool.h
/libraries/openssl/crypto/randerr.h
/libraries/openssl/openssl/randerr.h
/libraries/openssl/openssl/rc2.h
/libraries/openssl/openssl/rc4.h
/libraries/openssl/openssl/rc5.h
/libraries/freerdp/channels/rdp2tcp.h
/libraries/freerdp/channels/rdpdr.h
/libraries/freerdp/server/rdpdr.h
/libraries/freerdp/utils/rdpdr_utils.h
/libraries/freerdp/channels/rdpecam.h
/libraries/freerdp/server/rdpecam.h
/libraries/freerdp/server/rdpecam-enumerator.h
/libraries/freerdp/channels/rdpei.h
/libraries/freerdp/client/rdpei.h
/libraries/freerdp/server/rdpei.h
/libraries/freerdp/channels/rdpemsc.h
/libraries/freerdp/server/rdpemsc.h
/libraries/freerdp/channels/rdpewa.h
/libraries/freerdp/channels/rdpgfx.h
/libraries/freerdp/client/rdpgfx.h
/libraries/freerdp/server/rdpgfx.h
/libraries/freerdp/channels/rdpsnd.h
/libraries/freerdp/client/rdpsnd.h
/libraries/freerdp/server/rdpsnd.h
/libraries/openssl/internal/recordmethod.h
/libraries/freerdp/redirection.h
/libraries/openssl/internal/refcount.h
/libraries/freerdp/codec/region.h
/libraries/freerdp/gdi/region.h
/libraries/freerdp/channels/remdesk.h
/libraries/freerdp/client/remdesk.h
/libraries/freerdp/server/remdesk.h
/libraries/freerdp/codec/rfx.h
/libraries/openssl/internal/ring_buf.h
/libraries/freerdp/utils/ringbuffer.h
/libraries/openssl/openssl/ripemd.h
/libraries/openssl/crypto/riscv_arch.def
/libraries/openssl/crypto/riscv_arch.h
/libraries/openssl/crypto/rsa.h
/libraries/openssl/openssl/rsa.h
/libraries/openssl/crypto/rsaerr.h
/libraries/openssl/openssl/rsaerr.h
/libraries/openssl/internal/safe_math.h
/libraries/openssl/openssl/safestack.h.in
/libraries/freerdp/scancode.h
/libraries/freerdp/channels/scard.h
/libraries/freerdp/secondary.h
/libraries/openssl/crypto/security_bits.h
/libraries/openssl/openssl/seed.h
/libraries/openssl/openssl/self_test.h
/libraries/freerdp/server/server-common.h
/libraries/freerdp/session.h
/libraries/freerdp/settings.h
/libraries/freerdp/settings_types.h
/libraries/freerdp/settings_types_private.h
/libraries/openssl/crypto/sha.h
/libraries/openssl/openssl/sha.h
/libraries/openssl/internal/sha3.h
/libraries/freerdp/server/shadow.h
/libraries/freerdp/gdi/shape.h
/libraries/freerdp/utils/signal.h
/libraries/openssl/crypto/siphash.h
/libraries/openssl/crypto/siv.h
/libraries/openssl/internal/sizes.h
/libraries/openssl/crypto/sm2.h
/libraries/openssl/crypto/sm2err.h
/libraries/openssl/internal/sm3.h
/libraries/openssl/crypto/sm4.h
/libraries/openssl/crypto/sm4_platform.h
/libraries/freerdp/utils/smartcard_call.h
/libraries/freerdp/client/utils/smartcard_cli.h
/libraries/freerdp/emulate/scard/smartcard_emulate.h
/libraries/freerdp/utils/smartcard_operations.h
/libraries/freerdp/utils/smartcard_pack.h
/libraries/freerdp/utils/smartcardlogon.h
/libraries/openssl/internal/sockets.h
/libraries/openssl/crypto/sparc_arch.h
/libraries/openssl/crypto/sparse_array.h
/libraries/openssl/openssl/srp.h.in
/libraries/openssl/openssl/srtp.h
/libraries/freerdp/client/sshagent.h
/libraries/openssl/internal/ssl.h
/libraries/openssl/openssl/ssl.h.in
/libraries/openssl/openssl/ssl2.h
/libraries/openssl/openssl/ssl3.h
/libraries/openssl/internal/ssl3_cbc.h
/libraries/openssl/internal/sslconf.h
/libraries/openssl/openssl/sslerr.h
/libraries/openssl/openssl/sslerr_legacy.h
/libraries/openssl/openssl/stack.h
/libraries/openssl/internal/statem.h
/libraries/yaml-cpp/stlemitter.h
/libraries/freerdp/utils/stopwatch.h
/libraries/openssl/crypto/store.h
/libraries/openssl/openssl/store.h
/libraries/openssl/crypto/storeerr.h
/libraries/openssl/openssl/storeerr.h
/libraries/freerdp/streamdump.h
/libraries/freerdp/utils/string.h
/libraries/freerdp/svc.h
/libraries/openssl/internal/symhacks.h
/libraries/openssl/openssl/symhacks.h
/libraries/freerdp/channels/telemetry.h
/libraries/freerdp/server/telemetry.h
/libraries/openssl/internal/thread.h
/libraries/openssl/openssl/thread.h
/libraries/openssl/internal/thread_arch.h
/libraries/openssl/internal/thread_once.h
/libraries/openssl/internal/time.h
/libraries/openssl/openssl/tls1.h
/libraries/openssl/internal/tlsgroups.h
/libraries/openssl/openssl/trace.h
/libraries/yaml-cpp/traits.h
/libraries/freerdp/transport_io.h
/libraries/openssl/openssl/ts.h
/libraries/openssl/internal/tsan_assist.h
/libraries/openssl/crypto/tserr.h
/libraries/openssl/openssl/tserr.h
/libraries/freerdp/channels/tsmf.h
/libraries/freerdp/client/tsmf.h
/libraries/openssl/openssl/txt_db.h
/libraries/yaml-cpp/node/type.h
/libraries/freerdp/types.h
/libraries/openssl/crypto/types.h
/libraries/openssl/openssl/types.h
/libraries/openssl/openssl/ui.h.in
/libraries/openssl/crypto/uierr.h
/libraries/openssl/openssl/uierr.h
/libraries/openssl/internal/uint_set.h
/libraries/openssl/internal/unicode.h
/libraries/freerdp/update.h
/libraries/freerdp/channels/urbdrc.h
/libraries/freerdp/channels/video.h
/libraries/freerdp/client/video.h
/libraries/freerdp/gdi/video.h
/libraries/openssl/openssl/whrlpool.h
/libraries/freerdp/window.h
/libraries/freerdp/channels/wtsvc.h
/libraries/openssl/crypto/x509.h
/libraries/openssl/openssl/x509.h.in
/libraries/openssl/openssl/x509_vfy.h.in
/libraries/openssl/crypto/x509err.h
/libraries/openssl/openssl/x509err.h
/libraries/openssl/openssl/x509v3.h.in
/libraries/openssl/crypto/x509v3err.h
/libraries/openssl/openssl/x509v3err.h
/libraries/yaml-cpp/yaml.h
/libraries/freerdp/codec/yuv.h
/libraries/freerdp/codec/zgfx.h
